.copo-nieve {
  position: fixed;
  top: -50px;
  z-index: 9999;
  pointer-events: none;
  animation-name: caer;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes caer {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(100vh) rotate(360deg); }
}
